.redColor {
    -fx-background-color: #ff3d13;
}

.orangeColor {
    -fx-background-color: orange;
}

.greenColor {
    -fx-background-color: limegreen;
}
#export {
    -fx-background-image: url("export-icon.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#unitM{
    -fx-text-alignment: center;
    -fx-font-style: italic;
}